<div class="block" id="one">
	<i class="fa fa-user-alt"></i>
	<span class="hidden">About</span>
</div>
<div class="block" id="two">
	<i class="fa fa-book-open"></i>
	<span class="hidden">Portfolio</span>
</div>
<div class="block" id="three">
	<i class="fa fa-pen"></i>
	<span class="hidden">Blog</span>
</div>
<div class="block" id="four">
	<i class="fa fa-thumbs-up"></i>
	<span class="hidden">Social</span>
</div>
<div class="block" id="five">
	<i class="fa fa-envelope"></i>
	<span class="hidden">Contact</span>
</div>