<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Color Block Pulls</title>
	<!-- css -->
	<link rel="stylesheet" href="../assets/css/main.css">
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<!-- fontawesome -->
	<script src=https://kit.fontawesome.com/3956e76dfa.js> </script> <!-- favicon -->
	<link rel="personal icon" href="https://i.ibb.co/BPJyKsz/jf-logo-white-b-g2.png">
</head>
<body>
	{% include nav.html %}
	<div class="page">
		<div id="content">
			{{ content }}
		</div>
		{% include sidebar.html %}
	</div>
<!-- js -->
<script src="../assets/js/main.js"></script>
</body>

</html>